<form method="POST" action="/signup">
		<h3> Please Sign up </h3>

		<input type="text" name="username" placeholder="User Name">
		<input type="password" name="password" placeholder="Password">
		<input type='submit' name="submit" value="Sign Up" />	
		<span>Already a user? <a href="/login">Login</a></span>
</form>

